.countdown {
    font-family: 'Exo 2', sans-serif;
}

.countdown {
    grid-column: 1 / 1;
    grid-row: 1/1;
}

.count-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.count-left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.mission-name-box {
    padding-bottom: 5px;
    border-bottom: $blue 2px solid;
}

.clock-box {
    justify-self: center;
    align-self: center;
    color: #353d46;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    background-color: rgba($color: $green, $alpha: 1.0);
    border: $green 1px solid;
    border-radius: 4px;
    transition: all 0.3s ease-out;
}

.count-rocket-box {
    display: flex;
    margin-left: auto;
    justify-content: center;
    width: 30%;
    height: 100%;
}

.rocket-img {
    object-fit: fill;
    height: 520px;
    width: auto;
    transition: all 5.5s ease-in;
}



.stream-box{
    justify-self: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .clock-box {
        font-size: .7rem;

    }
  }
