@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import './base/settings';
@import './base/base';
@import './components/header';
@import './components/Loading';
@import './components/weather';
@import './components/FlightInfo';
@import './components/Countdown';
@import './components/Footer';
@import './components/LandingPage';
@import './components/Modal';
@import './components/Dragon/Dragon-Page-Main';
@import './components/nextLaunchMain';
  
  :root {
    --primary-color: #fcfcfc80
  }
  
  html,
  body {
    background: url('../img/spacex-6SbFGnQTE8s-unsplash.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: scroll;
    line-height: 1.6rem;
    color: #333;
  }

  h1, 
  h2 {
    font-weight: 400;
    line-height: 1.2;
    margin-top: 10px 0;
  }

  img {
    width: 100%;
  }
  
  /* Showcase */
  .showcase {
    position: relative;
    background-size: cover;
    height: 100%;
    color: #fff;
    position: relative;
    margin-top: 20px;
  }





  /* Utilities */


  

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  


 