@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import './base/settings';
@import './base/base';
@import './components/header';
@import './components/Loading';
  
  :root {
    --primary-color: #fcfcfc80
  }
  
  html,
  body {
    background: url('../img/spacex-6SbFGnQTE8s-unsplash.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    line-height: 1.6rem;
    color: #333;
  }

  ul {
    list-style-type: none;
  }

  .wi {
    font-size: 50px;
    color: $blue;
  }

  h1, 
  h2 {
    font-weight: 400;
    line-height: 1.2;
    margin-top: 10px 0;
  }

  p {
    margin: 10px 0;
  }

  img {
    width: 100%;
  }

  /* Navbar Styles*/

  /*.navbar {
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(35, 35, 36, 0.3));
    backdrop-filter: blur(0.4rem);
    color: #fff;
    height: 70px;
    margin-bottom: 20px;
  }

  .navbar .flex {
    justify-content: space-between;
  } 

  .navbar ul {
    display: flex;
  }

  .navbar li {
    padding: 10px;
    margin: 0 5px;
    color: #fff;
    text-decoration: none;
  }

  .navbar li:visited {
    padding: 10px;
    margin: 0 5px;
    color: #fff;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  .navbar li:hover {
    border-bottom: 2px #fff solid;
  }
  */

  .logo{
    width: 5%;
    margin: 0 5px;
  }
  

  /* Loading */

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loading-gif {
    width: 50%;
    height: auto;
  }
  
  /* Showcase */

  .showcase {
    height: 100vh;
    color: #fff;
    position: relative;
  }

  .showcase p {
    margin-top: 20px;
  }

  .player-wrapper {
    margin-top: 100px;
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }

  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }

  .countdown {
    font-weight: 400;
    grid-column: 2 / 2;
    grid-row: 1/1;
  }

  .weather-box{
    display: flex;
    justify-content:space-around;
    align-items: center;
  }

  .weather-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .weather-block p {
    margin-top: 10px;
  }


  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 2;
    grid-row: 2 /2;
  }

  .info {
    grid-column: 1 / 1;
    grid-row: 2 /2;
  }

  .badge-img {
    width: 40%;
  }

  .clouds {
    width: 30%
  }

  .sun {
    width: 30%
  }



  /* Utilities */
  .container {
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
  }

  .card {
    background: linear-gradient(to right bottom, rgba(30, 30, 66, 0.5), rgba(133, 129, 129, 0.3));
    backdrop-filter: blur(0.4rem);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    height: auto;
  }

  .btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .grid {
    display: grid;
    grid-template-columns: 4fr 3fr;
    gap: 20px;
    height: auto;
  }
  
  .leaflet-container {
    width: 100%;
    height: 200px;
  }

  .rocket-img {
    width: 5%;
    z-index: 5;
  }

  .info li {
    padding: 0.1rem;
  }

  .info li:nth-child(even) {
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(35, 35, 36, 0.3));
    backdrop-filter: blur(0.4rem);
    border-radius: 0 8px 8px 0;
  }

  .info li:nth-child(odd) {
    background: linear-gradient(to right bottom, rgba(30, 30, 66, 0.5), rgba(133, 129, 129, 0.3));
    backdrop-filter: blur(0.4rem);
    border-radius: 0 8px 8px 0;
  }